
.container{
       text-align: center;
}
.title{
       margin-top: 10px;
       justify-content: center;
       color: white;
       font-size: 50px;
}

.title span{
       color: #26ffcb;
       padding-left: 10px;
}
.reset{
       width:130px;
       height:50px;
       font-size: 15px;
       outline: none;
       cursor: pointer;
       background-color: #1f3540;
       padding-top: 10px;
       padding-bottom: 10px;
       padding:15px;
       color: #26ffcb;
       border: none;
       border-radius: 30px;
       margin-bottom:10px ;
}

.boxes{
       display: flex;
       height:120px;
       width:120px;
       background-color: #1f3540;
       border-radius: 6px;
       cursor: pointer;
       border: 3px solid #0f1b21;

       
       
}

.board{
     height:410px; 
     width:500px;
     display: flex; 
     text-align: center;
     position: relative;
     left:35%; 
}

.boxes img{
       margin:30px 30px;
}

.title img{
       height:40px;
       width: 40px;
       padding-left: 20px;
       position: relative;
       top:5px;

       
}